<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.2"/>

    <!-- Allow 2.1 GB to ensure we can echo a lot of data. -->
    <httpRuntime targetFramework="4.6.2" maxRequestLength="2100000000" />
  </system.web>

  <system.webServer>
    <security>
      <requestFiltering>
        <!-- Allow 2.1 GB to ensure we can echo a lot of data. -->
        <requestLimits maxAllowedContentLength="2100000000" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>